{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href = "/polls/{{question.id}}/">{{question.question_text}}</a></li> 
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>

{% endif %}



{% comment %} 
    기존의 html과 다르게 조건문을 쓸 수 있다
    return 값의  latest_question_list 안에는 Questrin 클래스 안의 id 멤버변수와 question_text 멤버변수가 다 들어있음. 그래서 사용할 수 있는거임


 {% endcomment %}
{% comment %} ul : un ordered list , 순서가 없는{% endcomment %}
{% comment %} ol : ordered list , 순서가 없는{% endcomment %}
